* {
	box-sizing: border-box;
}

html {
	font: 100%/1.25 'Roboto', helvetica, sans-serif;
}

body {
	background-color: #1e90ff;
}

img {
	height: 35px;
}

.form fieldset {
	background-color: white;
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
}

.form label {
	display: block;
	margin-top: .7rem;
}

.form input::placeholder { /* Modern browsers */
	color: grey;
}

.form input:-ms-input-placeholder {
	color: grey;
}

.form input:invalid {
	border: 2px solid red;
}

.input {
	width: 303px;
	border: 2px;
	padding-left: : 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 38px;
}

button {
	background-color: #32CD32;
	color: white;
	width: 303px;
	border: 2px;
	padding-left: : 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 38px;
	display: inline-block;
	transition-property: color, background;
	transition-duration: .40s;
	transition-timing-function: ease-in-out;
	margin-top: 1.5rem;
}

.form button:hover, .form button:active, .button:focus {
	background-color: green;
}

h1, a {
	color: white;
}
